<div class="content">
    <div class="jumbotron bg-success text-white">
        <div class="container">
            <h3 class="display-3">
                Chat
            </h3>
            <p class="lead m-0">
                Chat with your friends in real time!
            </p>
            <p class="small">
                (Or you can open this page in another browser to chat with yourself if you have no friends)
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="order-2 order-md-1 col-md-8">
                <div class="card chat-box">
                    <div class="card-header">
                        <h5 class="card-title m-0 text-success">Messages</h5>
                    </div>
                    <div id="chat-messages" class="card-body">
                        <li *ngFor="let msg of messages" class="chat-bubble shadow-sm mb-3 rounded" [class.msg-right]="msg.user_id === wsService.user.id">
                            <div class="chat-username" [style.color]="msg.color">
                                {{msg.name}} 
                            </div>
                            <div class="chat-msg">
                                {{msg.message}}
                            </div>
                        </li>
                    </div>
                        <form class="card-footer" [formGroup]="messageBox" (ngSubmit)="sendMessage()">
                            <div class="input-group">
                                <input type="text"
                                   class="form-control"
                                   name="msg"
                                   placeholder="Type a message..."
                                   aria-label="Type a message..."
                                   aria-describedby="send-btn"
                                   formControlName="msg"
                                   autofocus
                                   autocomplete="off">
                                <button class="btn btn-outline-primary" type="submit" id="send-btn">Send</button>
                            </div>
                        </form>
                </div>
            </div>
            <div class="order-1 order-md-2 col-md-4">
                <div class="card chat-users">
                    <div class="card-header">
                        <h5 class="card-title m-0 text-success text-center">Online Users</h5>
                    </div>
                    <div class="card-body">
                        <li class="chat-user" *ngFor="let user of activeUsers">
                            <i class="fas fa-circle dot-user" [style.color]="user.color"></i><p>{{user.name}}</p><span *ngIf="user.id === wsService.user?.id">&nbsp;(you)</span>
                        </li>
                    </div>
                </div>
                <audio controls src='../../../assets/audio/new-msg.mp3' type="audio/mp3" class="d-none">
                    Your browser does not support the <code>audio</code> element.
                </audio>
            </div>
        </div>
    </div>
</div>
