<div class="content">
    <div class="jumbotron bg-info text-white">
        <div class="container">
            <h3 class="display-3">
                Real time chart
            </h3>
            <p class="lead">
                Open this page in another window and play with the buttons to see changes in real time!
            </p>
        </div>
    </div>
    
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-12">
                <div style="display: block;">
                    <canvas baseChart
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [colors]="lineChartColors"
                            [chartType]="lineChartType">
                    </canvas>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">{{lineChartData[0].label}}</h3>
                        <div class="row row-cols-2 align-items-center" *ngFor="let month of lineChartLabels; let i = index">
                            <div class="col text-end">
                                {{month}}
                            </div>
                            <div class="col">
                                <div class="input-group chart-control">
                                    <button class="btn btn-outline-danger" type="button" (click)="changeValue(month, -1)"><i class="fas fa-fw fa-minus"></i></button>
                                    <input type="text" class="form-control" [placeholder]="lineChartData[0].data[i]" readonly>
                                    <button class="btn btn-outline-success" type="button" (click)="changeValue(month, 1)"><i class="fas fa-fw fa-plus"></i></button>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>