.login-container {
    min-height: calc(100vh - 176px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container .card-body {
    min-width: 20em;
}