* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100vh;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navbar {
    z-index: 10;
}

.jumbotron {
    padding: 1em 0;
    margin-bottom: 2em;
}

.pointer {
    cursor: pointer;
}

.map-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer-margin {
    height: 80px;
}

/************
    Chart
************/

.chart-control {
    margin: 0.4em 0;
}

.chart-control .form-control {
    font-size: 0.8em;
    height: 2em;
    max-width: 4em;
    text-align: center;
}
.chart-control button {
    font-size: 0.6em;
    min-height: 2em;
    text-align: center;
    padding: 0 1em;
}

/************
    Modal
************/

.modal-background {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}